.vs
github_tags.txt
**/.ipynb_checkpoints
**/__pycache__
/ChromeDefaultBrowser/SetDefaultBrowser.exe  # This is not my program! README instructions include the download URL
/RayStation/Blurbs/
~$*  # Temporary Office files
